@define-color accent1 #ff7a93;
@define-color accent2 #b9f27c;
@define-color accent3 #ff9e64;
@define-color accent4 #bb9af7;
@define-color accent5 #7da6ff;
@define-color accent6 #0db9d7;
@define-color alert   #df3320;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 800;
  min-height: 0;
  font-size: 97%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 1px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 10px;
}

tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}
tooltip label {
  color: #cdd6f4;
}

#workspaces button {
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
#workspaces button.active {
  background-color: transparent;
  color: @accent1;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  color: @accent3;
  padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
#workspaces button.focused {
  background-color: #bbccdd;
  color: @accent2;
}
#workspaces button.urgent {
  background-color: #eb4d4b;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#mpris,
#network,
#pulseaudio,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-lock,
#custom-power_vertical,
#custom-power {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #333333;
  }
}

#battery.critical:not(.charging) {
  color: @alert;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#backlight {
  color: #cdd6f4;
}

#custom-separator {
  color: #606060;
}

#custom-power {
  color: #cc3436;
}

#custom-lock {
  color: #ffa000;
}

#pluseaudio-source-muted {
  color: #a0a0a0;
}

#network.disconnected,
#mpd.disconnected,
#temperature.critical {
  color: @alert;
}

#cpu,
#custom-schedule {
  color: @accent1;
}

#clock,
#pulseaudio-muted,
#wireplumber-muted {
  color: @accent2;
}

#mpris,
#network,
#memory {
  color: @accent3;
}

#mpd,
#pulseaudio,
#wireplumber {
  color: @accent4;
}

#battery,
#disk {
  color: @accent5;
}

#temperature,
#custom-todo {
  color: @accent6;
}
